
#logo{

    width: 100px;
    height: 100px;
   
}

h1{

    background-color:rgba(140, 241, 180, 0.663);
}

#imgPortada{

    width: 700px;
    height: 600px;
}

footer{

    background-color:rgba(140, 241, 180, 0.663);
}

#formContacto{

    background-image: url(../assets/Images/WhatsApp\ Image\ 2022-07-03\ at\ 12.25.48\ PM\ \(2\).jpeg);
}









