$color-fondo-banners: rgba(140, 241, 180, 0.663);
$color-fondo-web: rgba(244, 240, 218, 0.663);
$color-fondo-art: rgba(172, 166, 130, 0.663);
$color-fondo-header: rgba(140, 194, 239, 0.663);


.fondo-web{

    background-color: $color-fondo-web;
}

.fondo-header{

    background-color: $color-fondo-header;
}

.fondo-banners{

    background-color: $color-fondo-banners;
}

.fondo-art{

    background-color: $color-fondo-art;
}

main p{

    background-color: $color-fondo-art;
}

h1{

    background-color: $color-fondo-banners;
}